.eyePass2 {
  width: 2rem;
  position: absolute;
  right: 5px;
  margin-top: 12px;
  cursor: pointer;
}
.modalInput {
  background: #dfdfdf;
  border: 0;
  padding: 12px 15px;
  margin: 1.7rem 0rem 1rem 0rem;
}
.modalSubmitBtn {
  width: 100%;
  background: #4a4cf6;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border: 0;
}
