.loginContainer {
  min-height: 100vh;
  .brandName {
    text-align: center;
    color: #150a80;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .loginForm {
    width: 100%;
  }
  .loginInput {
    background: #dfdfdf;
    border: 0;
    padding: 12px 15px;
    margin: 1.7rem 0rem 1rem 0rem;
  }
  .loginSubmitBtn {
    width: 100%;
    background: #4a4cf6;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border: 0;
  }
}

@media screen and (max-width: 768px) {
  .loginContainer {
    min-height: 0vh;
  }
  .imgColumn {
    height: fit-content;
  }
}

@media screen and (min-width: 1401px) {
  .loginForm {
    width: 80% !important;
    margin: auto;
  }
}
